@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --vp-width: 390px;
  --vp-height: 844px;
  --vp-gutter: 1rem;
  --radius: 1rem;
  --offset: 6rem;

  --bg-hsl: 0, 0%;
  --bg-rgba: 0, 0, 0;
  --bg: rgb(14 165 233);
  --card-bg: rgb(8, 139, 200);
  --sky: rgb(14 165 233);
  --bg-gradient: linear-gradient(rgb(14 165 233) 90%, rgb(94, 196, 244));
  --surface: hsl(0 0% 92%);
  --surface-2: hsl(0 0% 84%);
  --text: hsl(0 0% 0%);
  --border: hsl(0 0% 0%);

  --current-weather-animation-offset: 120px;
  --heighLowTempAnimation-start: -20px;
  --heighLowTempAnimation-end: 40px;

  --currentWeatherAnimation-start: 20px;
  --currentWeatherAnimation-end: 70px;

  --subTextAnimation-start: 60px;
  --subTextAnimation-end: 140px;
}
* {
  @apply text-base
}
::-webkit-scrollbar {
  display: none; 
}
html {
   @apply antialiased bg-fixed bg-no-repeat bg-center overflow-x-hidden;
}
@media (display-mode: standalone) {
  :root {
    --offset: 10rem;
    --current-weather-animation-offset: 50px;
  --heighLowTempAnimation-start: -60px;
  --heighLowTempAnimation-end: 5px;

  --currentWeatherAnimation-start: -20px;
  --currentWeatherAnimation-end: 50px;

  --subTextAnimation-start: 50px;
  --subTextAnimation-end: 100px;

  }
  header {
    top: 0px;
    padding-top: 10px
  }
}
@media (display-mode: browser) {
  header {
    top: 24px;
  }
}
body {
  padding-bottom: -20px
}
header{
  
  position: sticky;
  text-align: center;
  z-index: 1;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: calc(var(--vp-gutter) * -2);
  position: relative;
  z-index: 0;
}
main > *:not(.tile) {
  grid-column: 1 / -1;
}
main::before {
  content: "";
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  height: calc(var(--offset) * 1);
  z-index: 1;
  grid-column: 1 / -1;
  display: block;
  
  background: linear-gradient(var(--bg), var(--bg)); 
}

img.condition-icon {
  max-width: 30px;
}
.location {
  background: var(--bg);
}
.card {
  background: var(--card-bg);
}
.card::before {
  content: "";
  position: sticky;
  top: var(--offset);
  height: calc(var(--vp-gutter) * 1.5);
  z-index: 0;
  grid-column: 1 / -1;
  display: block;
  width: 100%;
  background-color: var(--bg); 
}

.card-header {
  position: sticky;
  top: var(--offset);
  z-index: 1;
  font-size: 1rem;
  font-variant-caps: all-small-caps;
  padding-block: 0.4rem 0.4rem;
  margin-top: -10px;
  background-color: inherit;
}

.card-body {
  position: relative;
  z-index: -1;
}
.tile {
  grid-column: 1 / 1;
}

.daily-row--divider {
  @apply h-[1px] w-full bg-white/20 rounded-full
}
.daily-row:last-child .daily-row--divider--wrapper {
  display: none;
}